.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.searchDiv input{
    width: 300px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 10px;
}
