.containerItems{
  margin: auto;
  width: 80%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}
.searchDiv{
  width: max-content;
  margin: 20px auto;
  display: flex;
  /* margin-right: 40%; */
  gap: 5px;
}
.itemsBox{
  cursor: pointer;
}
.homeItemLabel{
  /* background-color: red; */
  width: 300px;
  height: 50px;
}
@media only screen and (max-width: 500px)  {
  .searchDiv{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchDiv input{
    height: 40px;
  }
  .searchDiv button{
    width: 10px;
    padding: 0;
    margin: 0;
  }
}